build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**


# Ignore shell scripts
*.sh

# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/
.serena/
**/local_dino/
*.pth
results/
**/outputs/
*.std*

*logs/

/data/

Depth-Anything-3/

mum/
